.dashboard__container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    /* margin-bottom: 5rem; */

}

.d__graph{
    
}

.dashboard__leftcont{

}

.dashboard__rightcont{

}